@mixin fonts($path, $ffamily, $weight) {
    @font-face {
        src: url('#{$path}.ttf') format('ttf');
        font-family: '#{$ffamily}';
        font-weight: $weight;
    }
}

@include fonts('../fonts/Roboto-Regular.ttf',
'Roboto',
400);
@include fonts('../fonts/Roboto-Bold.ttf',
'Roboto',
700);
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}